<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--导入vue的包-->
    <script src="../lib/vue-2.4.0.js"></script>
</head>

<body>

    <div id="app">
        <div>
            <label>
                ID:<input type="text" v-model="id">
            </label>
            <label>
                NAME:<input type="text" v-model="name">
            </label>

            <input type="button" value="添加" @click="add">
        </div>
        <!--循环对象-->
        <p v-for="item in list">{{item.id}},{{item.name}}</p>

    </div>

    <script>
        //创建vue实例
        //当我们导入包之后,在浏览器内存中,就多了一个vue构造函数 
        var vm = new Vue({
            el: '#app',//表示控制的对象的id
            data: {//el数据
                id:'',
                name:'',
                list:[
                    {id:1,name:"李斯"},
                    {id:2,name:"嬴政"},
                    {id:3,name:"韩非"},
                    {id:4,name:"赵高"},
                    {id:5,name:"荆轲"}
                ]
            },
            methods:{
                add(){
                    alert('23333');
                    this.list.push({id:this.id,name:this.name})
                }
            }
        })
    </script>

</body>

</html>