<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--导入vue的包-->
    <script src="../lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <p>{{msg}}</p>
        <input type="text" v-model="firstname" @keyup="getFullname">+
        <input type="text" v-model="lastname" @keyup="getFullname">=
        <input type="text" v-model="familyname">
    </div>
    <script>
        var vm = new Vue({
            el: '#app', //定义html模块对象id
            data: {
                msg: "欢迎学习vue",
                firstname:'',
                lastname:'',
                familyname:''
            }, //定义数据
            methods: {
                getFullname(){
                    this.familyname=this.firstname+'-'+this.lastname
                }
            }, //定义方法
            filters: {}, //定义过滤器
            directives: {}, //定义指令
            components: {}, // 定义实例内部私有组件的
            beforeCreate() {},
            created() {},
            beforeMount() {},
            mounted() {},
            beforeUpdate() {},
            updated() {},
            beforeDestroy() {},
            destroyed() {}
        })
    </script>
</body>

</html>