<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--导入vue.js-->
    <script src="../lib/vue-2.4.0.js"></script>
    <!--导入bootstrap-->
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7.css">

</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    ID
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    NAME
                    <!--keyup.enter=keyup.13 键盘码-->
                    <!-- <input type="text" class="form-control" v-model="name" @keyup.13="add"> -->
                    <input type="text" class="form-control" v-model="name" @keyup.f2="add">
                </label>
                <!--在bue中,使用事件绑定,如果方法加了()就可传参数了-->
                <input class="btn btn-primary" value="添加" type="button" @click="add">
                <label>
                    搜索名称关键字:
                    <input type="text" class="form-control" v-model="keywords" v-focus v-color="'green'">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CTIME</th>
                    <th>OPERATION</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr v-for="item in list" :key="item.id"> -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime|dateFormat()}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>              
                </tr>
            </tbody>
        </table>
    </div>
    <div id="app2" v-color="'pink'" v-fontweight="900" v-fontsize="'30px'">
        <p>{{dt|dateFormat}}</p>
    </div>
    <script>
        Vue.filter('dateFormat',function(dataStr,pattern=""){
            //根据给定时间字符串,得到特定的时间
            var dt = new Date(dataStr)
            //处理成预期格式
            var y = dt.getFullYear();
            var m = dt.getMonth()+1
            var d = dt.getDate()
            //return y+"-"+m+"-"+d;
            if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                return `${y}-${m}-${d}`
            }else{
                var hh = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`+"公有"
            }
        })
        //自定义键盘码 F2 键盘码为 13
        Vue.config.keyCodes.f2=113

        //使用Vue.directive()
        //参数1:指令名称 
        //定义不需要加前缀v- 但是调用时需要
        //参数2:对象,身上有一些指令相关的函数,这些函数可以在特定的阶段进行特定的操作

        Vue.directive("focus",{
            //绑定函数
            bind:function(el){//执行一次
                //在每个函数中,第一个参数,永远是el,表示被绑定指令的那个元素,el是一个原生js对象

                //el.focus()
            },
            inserted:function(el){//执行一次 
                //和js行为有关的操作
                el.focus()
            },
            updated:function(){//执行多次

            }
        })

        Vue.directive("color",{
            //绑定函数
            bind:function(el,bingding){//执行一次
                //在每个函数中,第一个参数,永远是el,表示被绑定指令的那个元素,el是一个原生js对象
                //内联样式,直接赋予
                //console.log(bingding.value)
                el.style.color = bingding.value
            },
            inserted:function(el){//执行一次

            },
            updated:function(){//执行多次

            }
        })

        var vm2 = new Vue({
            el: '#app2',
            data:{
                dt:new Date()
            },
            filters:{//私有过滤器 过滤器两个条件
                dateFormat:function(dataStr,pattern=""){
                    //根据给定时间字符串,得到特定的时间
                    var dt = new Date(dataStr)
                    //处理成预期格式
                    var y = dt.getFullYear();
                    var m = (dt.getMonth()+1).toString().padStart(2,'0');
                    var d = dt.getDate().toString().padStart(2,'0');
                    //return y+"-"+m+"-"+d;
                    if(pattern.toLowerCase() === 'yyyy-mm-dd'){
                        return `${y}-${m}-${d}`
                    }else{
                        var hh = dt.getHours().toString().padStart(2,'0')
                        var mm = dt.getMinutes().toString().padStart(2,'0')
                        var ss = dt.getSeconds().toString().padStart(2,'0')
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`+"私有"
                    } 
                }
            },
            directives:{
                'fontweight':{
                    bind:function(el,binding){
                        el.style.fontWeight=binding.value
                    }
                },
                'fontsize':function(el,binding){
                    el.style.fontSize = binding.value
                }
            }
        })
        var vm = new Vue({
            el: '#app',//表示控制的对象的id
            data: {//el数据
                id:"",
                name:"",
                keywords:"",
                list:[
                    {id:1,name:"奔驰",ctime:new Date()},
                    {id:2,name:"宝马",ctime:new Date()},
                    {id:3,name:"丰田",ctime:new Date()}
                ]
            },
            methods:{
                add(){
                    //创建对象
                    var car = {id:this.id,name:this.name,ctime:new Date()}
                    //增加对象
                    this.list.push(car)
                    //清空数据
                    this.id=""
                    this.name=""
                },
                del(id){
                    //方法1
                    //根据id查找对象
                    // this.list.some((item,i)=>{
                    //     if(item.id==id){
                    //         //删除相应对象
                    //         this.list.splice(i);
                    //         //在数组的some方法中return true 终止循环
                    //         return true;
                    //     }
                    // })
                    //方法2
                    var i = this.list.findIndex(item=>{
                        if(item.id == id){
                            return true;
                        }
                    })
                    this.list.splice(i,1);
                },
                search(keywords){
                    //写法1
                    // var newList = []
                    // this.list.forEach(item => {
                    //     if(item.name.indexOf(keywords)!=-1){
                    //         newList.push(item)
                    //     }    
                    // })
                    // return newList
                    //写法2
                    var newList = []
                    newList = this.list.filter(item => {
                        if(item.name.includes(keywords)){
                            return item
                        }
                    })
                    return newList
                }
            }
        });
        //过滤器的定义语法
        // Vue.filter('过滤器的名称',function(){
            
        // })

        //过滤器中的function,第一个参数,已经被规定死了,永远都是过滤器管道符前面,传递过来的数据
        // Vue.filter('过滤器的名称',function(data){
        //     return data+'123'
        // })
    </script>
</body>
</html>

<!--过滤器调用时候的格式{{ name | nameope }}-->